/* Noto Serif Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: aliceblue;
}

/* Heading Styles */
.heading-style_01{
  font-size: 4rem;
  font-weight: 800;
  color: #000000;
}
.heading-style_02{
  font-size: 4rem;
  font-weight: 800;
  color: #E95A08;
}
.heading-style_03{
  font-size: 3rem;
  font-weight: 800;
  color:#E95A08;
}
.heading-style_04{
  font-size: 3rem;
  font-weight: 800;
  color: #000000;
}
.heading-style_05{
  font-size: 3rem;
  font-weight: 800;
  color: #FFFFFF;
}
.heading-style_06{
  font-size: 1.25rem;
  font-weight: 800;
  color: #FFFFFF;
}
.heading-style_07{
  font-size: 1.25rem;
  font-weight: 800;
  color: #FFFFFF;
}

/* Paragraph Styles */
.paragraph_style-01{
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.500);
}
.special{
  font-weight: bold;
  color: black;
}

/* Shared Styles */

.display-flex{
    display: flex;
}

.container-01{
  max-width: 1140px;
  margin: auto;
}
.container-02{
  max-width: 1440px;
  margin: auto;
}
.buttton{
  background-color: #E95A08;
  width: 270px;
  color: white;
  padding: 26px 50px;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Navbar and Banner Styles */

.navbar{
  justify-content: space-between; 
  align-items: center;
  position: relative; 
}
.nav-item{
    list-style: none;
    margin-right: 48px;    
}
.nav-links{
  justify-content: center;
  align-items: center;
}
.nav-link{
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.mobile-cart-icon {
  display: none;
}
.banner{
  margin-top: 120px;
  display: flex;
}
.banner-details{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.banner-image{
  width: 50%;
}

/* Navbar and Banner Responsive for Mobile Device */

@media screen and (max-width: 576px) {
  .navbar, .nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    padding: 15px 20px;
  }
  .nav-links {
    display: none;
  }
  .mobile-cart-icon {
    display: block;
  }
  .mobile-cart {
    display: none;
  }
  .navbar img {
    width: 120px;
    height: auto;
  }
  .banner{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-image{
    width: 100%;
  }
  .banner-details{
    width: 100%;
    text-align: left;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
}
/* Plant Showcase Styles */

.plant-showcase{
  margin-top: 120px;
}
.showcase-details{
  text-align: center;
}
.text-style_01{
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
}
.text-style_02{
  font-size: 1.25rem;
  font-weight: 800;
  color: #000000;
}
.plant-images{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}
.plant-detail{
  width: 270px;
  text-align: center;
}
.plant-detail img{
  width: 100%;
}
.plant-ambience{
  margin-top: 210px;
  gap: 60px;
}
.image-container {
    position: relative;
    display: inline-block;
}
.image-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px; 
    height: auto;
    z-index: 10;
    transform: translate(50%, -40%); 
}
.ambience{
  width: 540px;
}

/* Plant Showcase Responsive Styles for Mobile Device */

@media screen and (max-width: 576px) {
  .plant-images{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  } 
  .plant-ambience{
    margin-top: 42px;
    gap: 18px;
    flex-direction: column;
  } 
  .image-badge {
        display: none;
    }
}
/* Flower Shop Deals Styles */

.flower-shop-deals{
  margin-top: 135px;
}
.deals-details{
  width: 870px;
  text-align: center;
  margin: auto;
}

/* Deals Image Styles */
.deals-image{
  display: grid;
  row-gap: 15px;
  column-gap: 5px;
  grid-template-areas: 
  "box-1  box-3  box-3"
  "box-2  box-3  box-3"
  ;
}
.box-1{
  width: 367px;
  height: 201px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-2{
  width: 367px;
  height: 197px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-3{
  width: 753px;
  height: 418px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-1{
  grid-area: box-1;
}
.box-2{
  grid-area: box-2;
}
.box-3{
  grid-area: box-3;
}

/* Flower Shop Deals Mobile Responsive Styles */

@media screen and (max-width: 576px) {
  .flower-shop-deals{
    width: 100%;
    margin-top: 100px;
    margin: auto;
  }
  .deals-details{
    width: 100%;
    padding: 0 20px;
  }
  .deals-image{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .box-1, .box-2, .box-3{
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .box-1, .box-2{
    height: 300px;
  }
  .box-3{
    height: 300px;
  }
}

/* Footer Section Styles */

/* Section 01 */
.section1{
  width: 100%;
  max-width: 1440px;
  height: auto;
  min-height: 533px;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}
.buttton-footer{
  background-color: #E95A08;
  width: 186px;
  height: 52px;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
#direct{
  width: 100%;
  max-width: 644px;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 1rem;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 15px;
}

/* Footer Section 01 Mobile Responsive Styles */
@media screen and (max-width: 576px) {
  .section1{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    padding: 40px 20px;
    min-height: 400px;
  }
  .contact{
    flex-direction: column;
    width: 100%;
  }
  #direct{
    width: 100%;
    margin-bottom: 10px;
  }
  .buttton-footer{
    width: 100%;
    max-width: 200px;
  }
}

/* Section 02 */
.section2{
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-color: azure;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
}
.part-1{
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.part-1 img{
  width: 150px;
  height: auto;
}
.part-2_item{
  list-style: none;
}
.part-2_link{
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}
.part-2_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.part-3_item{
  list-style: none;
}
.part-3_link{
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}
.part-3_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.part-4{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}
.part-4 img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Footer Section2 Mobile Responsive Styles */
@media screen and (max-width: 576px) {
  .section2{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }
  
  .part-1,
  .part-2,
  .part-3,
  .part-4 {
    width: 100%;
    margin: 0;
  }
  
  .part-1 {
    order: 1;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .part-1 img {
    width: 120px;
    margin-bottom: 15px;
  }
  
  .part-1 p {
    text-align: center;
    margin: 0;
  }
  
  .part-2 {
    order: 2;
    margin-bottom: 20px;
  }
  
  .part-2_list {
    gap: 15px;
  }
  
  .part-3 {
    order: 3;
    margin-bottom: 30px;
  }
  
  .part-3_list {
    gap: 15px;
  }
  
  .part-4 {
    order: 4;
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
  }
  
  .part-2_item,
  .part-3_item {
    text-align: center;
  }
  
  .part-2_link,
  .part-3_link {
    font-size: 1.1rem;
    color: #333;
  }
}

